
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

{% block content %}
<h1>Admin Login</h1>
<form method="POST" action="{{ url_for('admin_login') }}">
    <label for="loginid">Login ID:</label>
    <input type="text" id="loginid" name="loginid" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <button type="submit">Login</button>
<!-- JavaScript-based back button -->
<button onclick="window.location.href='/'">Back to Main Page</button>
</form>

<p>{{ get_flashed_messages()|join(', ') }}</p>
{% endblock %}
